<ion-header>
  <ion-toolbar>
    <ion-title>Create a new challenge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-list >
  <ion-select  interface="alert" multiple="false" required placeholder="Choose the type of challenge" [(ngModel)]="selected_option">
  <ion-item  *ngFor="let entry of form">
    <!--<ion-label>{{entry.val}}</ion-label>-->
    <ion-select-option (click)="this.compare();" value="{{entry.val}}">{{entry.val}}</ion-select-option>

  </ion-item>
  </ion-select>
</ion-list>
<ion-button (click)="compare()">Enter</ion-button>

<ion-card>
  <ion-card-content [hidden]="true">
    <ion-input name="name" placeholder="Name of the challenge" required></ion-input>
    <ion-row>
      <ion-col><ion-input name="period"  placeholder="Period (in weeks)" required></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input id="descr" placeholder="Description"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input placeholder="Aim"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input id="descr" placeholder="Description"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input placeholder="Aim"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input id="descr" placeholder="Description"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input placeholder="Aim"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input id="descr" placeholder="Description"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input placeholder="Aim"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input id="descr" placeholder="Description"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input position="floating" placeholder="Aim"></ion-input></ion-col>
    </ion-row>
  </ion-card-content>

  <ion-card-content>


    <ion-item [hidden]="!form[3].isChecked"  lines="full" *ngFor="let entry of home">
      <ion-label position="floating">{{entry.a}}</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item [hidden]="!form[0].isChecked" lines="full" *ngFor="let entry of outdoor">
      <ion-label position="floating">{{entry.b}}</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item [hidden]="!form[1].isChecked" lines="full" *ngFor="let entry of gym">
      <ion-label position="floating">{{entry.c}}</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item [hidden]="!form[2].isChecked" lines="full" *ngFor="let entry of body">
      <ion-label position="floating">{{entry.d}}</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <form (ngSubmit)="submit()">

      <ion-button type="submit" color="success" expand="block" >
        <p style="color: black;">Create challenge</p>
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>



</ion-content>
