<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-card style="background-color: transparent;">
        <ion-card-header>
            <ion-card-title>Verify-Email</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form>
                <ion-item lines="full">
                    <ion-label position="floating">Please check your email and click on the link to verfiy your email address.
                    </ion-label>
                </ion-item>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" color="primary" expand="block" (click)="authService.SendVerificationMail()">
                            <p style="color: black;">Resend Verification Email</p>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>