<ion-header>
  <ion-toolbar>
    <ion-title>addmeal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card style="background-color: transparent;">
  <ion-card-header>
  <ion-card-title>Track your meal!</ion-card-title>
  <ion-card-subtitle>Here you can list the food you ate today. </ion-card-subtitle>
  </ion-card-header>
</ion-card>
<!-- the following commented out code is an additional feature that will only be edited eventually.
     a possible feature that improves the user view and only shows the fields that are relevant for
     the selected meal. for example, the user only wants to enter his breakfast in the morning, so he
     clicks on breakfast - everything else disappears.-->

<!--<div style="text-align: right;">
<ion-card>
    <ion-checkbox (ionChange)="isChanged()" color="secondary"></ion-checkbox>Breakfast
    <ion-checkbox  color="secondary"></ion-checkbox>Lunch
    <ion-checkbox  color="secondary"></ion-checkbox>Dinner
    <ion-checkbox  color="secondary"></ion-checkbox>Snacks
</ion-card> -->

<ion-card>
  <ion-input type="text" placeholder="whatcha eat?">Breakfast 1</ion-input>
  <div style="float: left;">
    <ion-input type="number" style="float: left;">Energy kJ/kcal:</ion-input>
    <ion-input type="number" style="float: left;">Fat: </ion-input>
    <ion-input type="number" style="float: left;">- of which saturated fatty acids: </ion-input>
    <ion-input type="number" style="float: left;">Carbohydrate: </ion-input>
    <ion-input type="number" style="float: left;">- of which sugar: </ion-input>
    <ion-input type="number" style="float: left;">Protein: </ion-input>
    <ion-input type="number" style="float: left;">Salt: </ion-input>

  </div>

  <ion-input type="text">Breakfast 2</ion-input>


  <ion-input type="text">Breakfast 3</ion-input>


  <ion-input type="text">Lunch 1</ion-input>


  <ion-input type="text">Lunch 2</ion-input>


  <ion-input type="text">Snack 1</ion-input>
</ion-card>







</ion-content>
