* {
  margin: 0 auto;
}

ion-grid {
  color: rgb(155, 171, 29);
  border: 2px solid black;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgb(66, 66, 66);

}

ion-row {
  border-bottom: 1.25px solid white;
}

ion-button {
  text-align: center;
  margin: 0 auto;
  color: black;
}

#divBtn {
  margin-top: 10px;
  text-align: center;
}


