<ion-header>
  <ion-toolbar>

    <ion-title>Infos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="Task.type==='meal'">
    <form [formGroup]="mealForm" (ngSubmit)="onSubmit()">
      <ion-item lines=" full">
        <ion-label position="floating">Date</ion-label>
        <ion-datetime displayFormat="MMM DD, h:mm A" formControlName="date"></ion-datetime>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" formControlName="title" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Energy</ion-label>
        <ion-input type="text" formControlName="energy" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Fat</ion-label>
        <ion-input type="text" formControlName="fat" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Saturated fatty acids</ion-label>
        <ion-input type="text" formControlName="satFat" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Carbohydrates</ion-label>
        <ion-input type="" formControlName="carbs" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Sugar</ion-label>
        <ion-input type="text" formControlName="sugar" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Protein</ion-label>
        <ion-input type="text" formControlName="protein" required></ion-input>
      </ion-item>

      <ion-row style="margin-top: 5px;">

        <ion-button (click)="close()">Close</ion-button>

      </ion-row>
    </form>
  </div>

  <div *ngIf="Task.type==='activity'">
    <form [formGroup]="mealForm" (ngSubmit)="onSubmit()">
      <ion-item lines=" full">
        <ion-label position="floating">Date</ion-label>
        <ion-datetime displayFormat="MMM DD, h:mm A" formControlName="date"></ion-datetime>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" formControlName="title" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Reps</ion-label>
        <ion-input type="text" formControlName="reps" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Sets</ion-label>
        <ion-input type="text" formControlName="sets" required></ion-input>
      </ion-item>

      <ion-row style="margin-top: 5px;">
        <ion-button (click)="close()">Close</ion-button>
      </ion-row>
    </form>
  </div>
</ion-content>
