<ion-header>
  <ion-toolbar>

    <ion-title>Infos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div *ngIf="Task.type==='meal'">

      <ion-row>
        <ion-col text-center>
          Type :
        </ion-col>
        <ion-col>
           {{ Task.type }}
         </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          Title :
        </ion-col>
        <ion-col>
          {{ Task.title }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          Energy :
        </ion-col>
        <ion-col>
          {{ Task.energy }} kcal
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          Protein :
        </ion-col>
        <ion-col>
          {{ Task.protein }} gram
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          Sugar :
        </ion-col>
        <ion-col>
          {{ Task.sugar }} gram
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          Fat :
        </ion-col>
        <ion-col>
          {{ Task.fat }} gram
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          Saturated Fat :
        </ion-col>
        <ion-col>
          {{ Task.satFat }} gram
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          Date :
        </ion-col>
        <ion-col>
          {{ Task.date.substring(0,10) }}
        </ion-col>
      </ion-row>
    </div>


    <div *ngIf="Task.type==='activity'">
      <ion-row>
        <ion-col text-center>
          Type :
        </ion-col>
        <ion-col>
          {{ Task.type }}

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          Title : {{ Task.title }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          Energy : {{ Task.reps }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          Protein : {{ Task.sets }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          Date : {{ Task.date.substring(0,10) }}
        </ion-col>
      </ion-row>
    </div>
    <div id="divBtn">
        <ion-button (click)="close()">Close</ion-button>
    </div>
  </ion-grid>
</ion-content>
