<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-card style="background-color: transparent;">
        <ion-card-header>
            <ion-card-title>Enter your email, so we can send you an email where you can reset your password</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form>
                <ion-item lines="full">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="text" required></ion-input>
                </ion-item>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" color="primary" expand="block">
                            <p style="color: black;">Send Email</p>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>