<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item id="listItem" *ngFor="let task of Tasks" lines="full">
      <ion-item lines="full" (click)="getModal(task.id)">
        <div id="meal" *ngIf="task.type==='meal'">

          <!--           <strong id="date">{{task.date.substring(0,10)}}</strong><br>
 --> <br>
          <ion-label>
            <div id="meal" *ngIf="task.img !== 'none'">
              <img [src]="task.img" alt="" />
            </div>

            <strong id="food">{{task.title}}</strong>
            <p>{{task.energy}} kcal</p>
            <p>{{task.protein}}g of protein</p>
          </ion-label>

        </div>

        <div id="activity" *ngIf="task.type==='activity'">
          <!--           <strong id="date">{{task.date.substring(0,10)}}</strong><br><br>
 -->
          <strong id="actTitle">{{task.title}}</strong>
          <p>{{task.reps}} reps</p>

        </div>

        <div *ngIf="task.type==='date'">
          <strong id="date">{{task.date.substring(0,10)}}</strong><br><br>


          <p>{{task.energy}} kcal</p>
          <p>{{task.protein}} gramm</p>


        </div>
      </ion-item>

      <ion-list id="menu" slot="end">
        <div *ngIf="task.type !== 'date'">

          <ion-item id="edit" [routerLink]="['/update-meal', task.id]">
            Edit
          </ion-item>
          <ion-item id="delete" (click)="remove(task.id)">
            Delete
          </ion-item>
        </div>
      </ion-list>
    </ion-item>




  </ion-list>
</ion-content>







<!-- </ion-list> -->
<!-- ####################test############################# -->
<!--       <ion-buttons slot="end">
        <ion-button (click)="settingsPopover()" style="color: #ffd342;">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons> -->
