<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title>YOUR LOG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let task of Tasks" lines="full">
      <div *ngIf="task.type==='meal'">

        <p>{{task.date.substring(0,10)}}</p>Content to render when condition is true. <br>


      </div>

      <ion-label>
        <strong>{{task.title}}</strong>
        <p>{{task.energy}} kcal</p>
        <p>{{task.protein}}g of protein</p>
      </ion-label>



      <!-- old menu:  --><!--       <div item-end>
        <button [routerLink]="['/update-meal', task.id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button (click)="remove(task.id)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div> -->


      <!-- 3 yellow menu dots -->


    <!-- ####################test############################# -->

    <ion-list>
      <!-- <ion-item (click)="editMeal()"> -->
        <ion-item [routerLink]="['/update-meal', task.id]">
          <!-- TODO: Verlinkung / Funktion-->
        Edit
      </ion-item>
      <ion-item (click)="remove(task.id)">
        <!-- TODO: Verlinkung / Funktion -->
        Delete
      </ion-item>
    </ion-list>
    <!-- ####################test############################# -->
<!--       <ion-buttons slot="end">
        <ion-button (click)="settingsPopover()" style="color: #ffd342;">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-item>
  </ion-list>

</ion-content>
