<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-card style="background-color: transparent;">
        <ion-card-header>
            <ion-card-title>Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form>
                <ion-item lines="full">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="text" #email required></ion-input>
                </ion-item>

                <ion-item lines="full">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" #password required></ion-input>
                </ion-item>

                <ion-row>
                    <ion-col>
                        <ion-button type="submit" color="primary" expand="block" (click)="logIn(email, password)">
                            <p style="color: black;">Sign In</p>
                        </ion-button>
                        <a [routerLink]="['/tabs/forgot-password']" class="small-text">Forgot Password?</a> <br>
                        <a [routerLink]="['/tabs/registration']" style="text-align: center;">Click here to create new
                            account</a>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>

                        <ion-label position="floating" style="text-align: center;">
                            <br>
                            <p>OR</p>
                            <br>
                        </ion-label>
                        <ion-button type="submit" color="danger" (click)="authService.GoogleAuth()" expand="block">
                            Login with Google
                        </ion-button>
                    </ion-col>
                </ion-row>

            </form>
        </ion-card-content>
    </ion-card>
</ion-content>