<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-card style="background-color: transparent;">
        <ion-card-header>
            <ion-card-title>Registration</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form>
                <ion-item lines="full">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="text" #email required></ion-input>
                </ion-item>

                <ion-item lines="full">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" #password required></ion-input>
                </ion-item>

                <ion-row>
                    <ion-col>
                        <ion-button type="submit" color="primary" expand="block" (click)="signUp(email, password)">
                            <p style="color: black;">Sign Up</p>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>