<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button href="tabs/tab3">BACK</ion-button>
  <ion-list>
    <ion-item id="listItem" *ngFor="let task of Tasks" lines="full">
      <ion-item lines="full">
        <div id="meal" *ngIf="task.type==='meal'">

          <!--           <strong id="date">{{task.date.substring(0,10)}}</strong><br>
 --> <br>
          <ion-label>
            <ion-avatar>
              <div id="meal" *ngIf="task.img !== 'none'">
                <img [src]="task.img" alt="" />
              </div>
            </ion-avatar>
            <strong id="food">{{task.title}}</strong>
            <p>{{task.energy}} kcal</p>
            <p>{{task.protein}}g of protein</p>
          </ion-label>

        </div>

        <div id="activity" *ngIf="task.type==='activity'">
          <!--           <strong id="date">{{task.date.substring(0,10)}}</strong><br><br>
 -->
          <strong id="actTitle">{{task.title}}</strong>
          <p>{{task.reps}} reps</p>

        </div>

        <div *ngIf="task.type==='date'">
          <strong id="date">{{task.date.substring(0,10)}}</strong><br><br>


          <p>{{task.energy}} kcal</p>
          <p>{{task.protein}} gramm</p>


        </div>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
